<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
      Get help on Gridbon Social at the
      <a href="http://www.gridbon.com/help">Gridbon Social Help</a>.
      To get help on this sample app, see the
      <a href="http://www.gridbon.com//book">Gridbon Social demo</a>.
</p>